<div class="table-wrapper">

  <div class="table-header">
    <div class="page-header">
      <h2>City Management</h2>
      <p class="breadcrumb mt-2"><a class="breadcrumb-link" routerLink="/admin">Home</a> / Location / City Management</p>
    </div>

    <button *ngIf="isAdmin()" class="primary-btn" (click)="addCity()">
      <i class="fas fa-plus plus"></i> Add
    </button>
  </div>

  <div class="d-flex col-12 mb-3 pe-2">
    <input class="search-input col-8" type="text" placeholder="Search City..." [ngModel]="searchQuery()"
      (ngModelChange)="searchQuery.set($event)" (keydown.enter)="searchQuery.set(searchQuery())" />

    <select class="filter-select col-4"  [ngModel]="selectedProvinceId()" (ngModelChange)="selectedProvinceId.set(+$event)">
      <option value="0">Search by Province</option>
        <option *ngFor="let p of provinces()" [value]="p.id">{{ p.name }}</option>
    </select>
  </div>

  <div class="table-container">
    <table class="component-table">

      <thead>
        <tr>
          <th>#</th>
          <th>City Name</th>
          <th>Province</th>
          <th>Created By</th>
          <th *ngIf="isAdmin()">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let city of filteredCities(); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ city.name }}</td>

          <td>{{ city.provinceName }}</td>

          <td>{{ city.createdBy || '' }}</td>

          <td *ngIf="isAdmin()" class="actions">
            <button class="edit-btn" (click)="editCity(city)"><i class="fas fa-edit icon"></i></button>
            <button class="delete-btn" (click)="deleteCity(city.id)"><i class="fas fa-trash icon"></i></button>
          </td>

        </tr>

        <tr *ngIf="filteredCities().length === 0">
          <td colspan="5" class="empty">No cities found.</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<app-modal *ngIf="modalOpen()" [fields]="cityFields" [model]="selectedCity() || {}" [mode]="modalMode()"
  entityName="City" (save)="saveCity($event)" (close)="modalOpen.set(false)">
</app-modal>