<div class="page-container">

  <!-- PAGE HEADER -->
  <div class="page-header d-flex justify-content-between align-items-center">
    <div class="page-header">
      <h2>Ad Media</h2>
      <p class="breadcrumb"><a class="breadcrumb-link" routerLink="/admin">Home</a> / <a class="breadcrumb-link" routerLink="/admin/advertisements">Advertisements</a> / Ad Media</p>
      <!-- <p class="breadcrumb">Home / <a class="breadcrumb-link" routerLink="/admin/advertisements">Advertisements</a> / Ad Media</p> -->
    </div>

    <button class="primary-btn" (click)="addImage()">
      <i class="fas fa-cloud-arrow-up icon me-1"></i> Upload New Image
    </button>
  </div>


  <!-- TOOLBAR -->
  <div class="d-flex col-12 mb-3 pe-2">
    <input class="search-input col-8" type="text" placeholder="Search Image..." [ngModel]="searchQuery()"
      (ngModelChange)="searchQuery.set($event)" (keydown.enter)="searchQuery.set(searchQuery())" />

    <select class="filter-select col-4"  [ngModel]="selectedAdvertisemnetId()" (ngModelChange)="selectedAdvertisemnetId.set(+$event)">
      <option value="0">Search by Advertisement</option>
      <option *ngFor="let a of advertisements()" [value]="a.id">{{ a.title }}</option>
    </select>
  </div>


  <!-- CATALOGUE SECTION -->
   <div *ngIf="isLoading()" class="loading-spinner">
    <i class="fas fa-spinner fa-spin fa-2x text-primary"></i>
    <p class="mt-3 text-secondary">Loading...</p>
  </div>
  <div class="catalogue">

    <app-image-card *ngFor="let image of filteredImages()" [image]="image" (view)="viewImage($event)"
      (edit)="editImage($event)" (delete)="deleteImage($event)">

    </app-image-card>


  </div>


</div>

<app-view-modal [open]="modalOpen()" [mode]="modalMode()" [image]="selectedImage()" [advertisements]="advertisements()"
  (close)="closeModal()" (save)="saveImage($event)">
</app-view-modal>