<header class="header px-4">

  <div class="left-section">
    <div class="logo"><span class="text">PakClassified — Geo-Targeting Advertising WebApp</span></div>
  </div>

  <div class="right-section">
 
    <div class="user-info" *ngIf="isLoggedIn()">
      <img [src]="profilePic()" alt="Profile" class="user-image">
      <span class="username">
        {{ displayName() }}
      </span>
    </div>
 
    <button *ngIf="!isLoggedIn()" (click)="login()" title="Signin">Sign In</button>
    <button *ngIf="!isLoggedIn()" (click)="signup()" title="SignUp">Sign Up</button>
    <button *ngIf="isLoggedIn()" (click)="logout()" title="Logout">Logout</button>
  </div>

</header>