<div class="modal-backdrop">
  <div class="modal" *ngIf="model && form">

    <h3>
      {{ mode === 'create' ? 'Add ' + entityName : 'Update ' + entityName }}
    </h3>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div *ngFor="let field of fields">

        <label>{{ field.label }}</label>

        <input *ngIf="field.type === 'text'" [formControlName]="field.key" placeholder="{{ field.label }}"
          [class.input-error]="showError(field.key)" />
        <span class="field-error" *ngIf="showError(field.key)">{{ errorMsg(field.key) }}</span>

        <textarea rows="8" *ngIf="field.type === 'textarea'" [formControlName]="field.key"
          placeholder="{{ field.label }}" [class.input-error]="showError(field.key)"></textarea>
        <span class="field-error" *ngIf="field.type === 'textarea' && showError(field.key)">{{ errorMsg(field.key)
          }}</span>

        <select *ngIf="field.type === 'select'" [formControlName]="field.key"
          [class.input-error]="showError(field.key)">
          <option [ngValue]="0" disabled>Select {{ field.label }}</option>
          <option *ngFor="let option of field.options()" [ngValue]="option.id">
            {{ option.name }}
          </option>
        </select>
        <span class="field-error" *ngIf="field.type === 'select' && showError(field.key)">{{ errorMsg(field.key)
          }}</span>

      </div>

      <div class="modal-actions">
        <button type="submit" class="save-btn">Save</button>
        <button type="button" class="cancel-btn" (click)="onClose()">Cancel</button>
      </div>

    </form>
  </div>
</div>