<div class="dashboard-container">
  <div class="card-header">
    <h1>Admin Dashboard</h1>
    <p>Welcome Dear <b class="bold-primary" title="Active Admin">"{{ currentUser() }}"</b>. Hope you're doing great.
      Here's your Admin
      Dashboard of Pak Classified...</p>

    <div class="notes-card">
      <h3><i class="fas fa-pen"></i> Daily Release Notes</h3>

      <p rows="12" placeholder="Write your daily Release Notes Here....." class="normal-text">
        <b>"Advertisement Image Flow. CRUD. Select images like tags in Advertisement"</b>
        <br><br>
        "Category Field Add in Create form. Images Testing in Advertisement"
<br>
        <b>Admin will have:</b>
        <br>
        - Locations BreadCrumbs, Search Remaining. Add icons to sidebar options. <br>
        - Reduce the text size in Category and SubCategory description Column. <br>
        - Advertisement SearchBar is not functional <br>

        <b>Customer will have:</b>
        <br>
        - View Only Access to Advertisement Cards.  <br>
        - SearchBars and Search Query
      </p>
    </div>
  </div>
</div>