<div class="page-container">

  <!-- PAGE HEADER -->
  <div *ngIf="isAdmin()" class="page-header d-flex justify-content-between align-items-center">
    <div>
      <h1>Advertisement Management</h1>
      <p>Manage all advertisements posted in Pak Classified.</p>
    </div>

    <button class="add-btn" (click)="addAdvertisement()"><i class="fas fa-bullhorn icon me-1"></i> Post New Ad</button>
  </div>



  <!-- TOOLBAR -->
  <div *ngIf="showToolbar()" class="toolbar col-12">
    <input class="search-input col-10" type="text" placeholder="Search Advertisement..." [(ngModel)]="searchTerm"
      (input)="searchTerm.set($event.target.value)">
    <button class="filter-select col-2"><i class="fa-solid fa-filter"></i> Apply Filters</button>
  </div>

  <!-- CATALOGUE SECTION -->
  <div *ngIf="isLoading()" class="loading-spinner">
    <i class="fas fa-spinner fa-spin fa-2x text-primary"></i>
    <p class="mt-3 text-secondary">Loading...</p>
  </div>
  <div *ngIf="!isLoading()" class="catalogue">
    
    @if(filteredAdvertisements().length === 0){
      <p class="mt-3 text-secondary">No Advertisement Found...</p>
    }
    <app-ad-card *ngFor="let ad of filteredAdvertisements()" [ad]="ad" (view)="viewAdvertisement($event)"
    (edit)="editAdvertisement($event)" (delete)="deleteAdvertisement($event)">
  </app-ad-card>
  
</div>
</div>