.admin-container {
  display: flex;
  /* height: 655px; */
  min-height: calc(100vh - 80px);
}

.content {
  flex: 1;
  background: #f1f5f9;
  padding: 20px;
}

.sidebar{
  background-color: #1e293b;
}