<div class="table-wrapper">

  <div class="table-header">
    <h2>Country Management</h2>

    <button *ngIf="isAdmin()" class="primary-btn" (click)="addCountry()">
      <i class="fas fa-plus plus"></i> Add
    </button>
  </div>

  <div class="table-container">
    <table class="component-table">

      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Created By</th>
          <th *ngIf="isAdmin()">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let country of countries(); let i = index">

          <td>{{ i + 1 }}</td>
          <td>{{ country.name }}</td>
          <td>{{ country.createdBy || '' }}</td>

          <td *ngIf="isAdmin()" class="actions">
            <button class="edit-btn" (click)="editCountry(country)"><i class="fas fa-edit icon"></i></button>
            <button class="delete-btn" (click)="deleteCountry(country.id)"><i class="fas fa-trash icon"></i></button>
          </td>

        </tr>

        <tr *ngIf="countries().length === 0">
          <td colspan="4" class="empty">
            No countries found.
          </td>
        </tr>

      </tbody>

    </table>
  </div>

</div>

<app-modal *ngIf="modalOpen()" [fields]="countryFields" [model]="selectedCountry() || {}" [mode]="modalMode()"
  entityName="Country" (save)="saveCountry($event)" (close)="modalOpen.set(false)">
</app-modal>